.element-cloudy-clear-at {
  height: 32px;
  width: 32px;
}

.element-cloudy-clear-at .img {
  height: 28px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 28px;
}

.element-cloudy-clear-at .overlap {
  height: 28px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 28px;
}

.element-cloudy-clear-at .overlap-group-wrapper {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.element-cloudy-clear-at .overlap-group {
  height: 28px;
  position: relative;
}

.element-cloudy-clear-at .union {
  height: 15px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 18px;
}

.element-cloudy-clear-at .union-2 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 28px;
}

.element-cloudy-clear-at.off {
  position: relative;
}
