.iphone-pro-max {
  background-image: url(/static/img/creative-painting-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 932px;
  overflow: hidden;
  position: relative;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

/*FIRST SECTION*/

.iphone-pro-max .header {
  position: relative;
  width: 95%;
  height: 17%;
  display: flex;
  flex-direction: row;
}

.iphone-pro-max .doctor-img {
  object-fit: cover;
  position: relative;
  margin-left: 5%;
}

.iphone-pro-max .header-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 57%;
}

.iphone-pro-max .header-conditions-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 7%;
}

.iphone-pro-max .location-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.iphone-pro-max .side-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.iphone-pro-max .location {
  color: #ffffff;
  font-family: "Convergence", Helvetica;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: 20%;
  margin-left: 4%;
}

.iphone-pro-max .menu {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-top: 7%;
}

.iphone-pro-max .icons-menu {
  height: 24px;
  position: relative;
  width: 24px;
}

.iphone-pro-max .degree {
  color: #ffffff;
  font-family: "Calibri-Bold", Helvetica;
  font-size: 65px;
  font-weight: 700;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 117px;
  height: 55%;
  margin-left: 10%;
}

.iphone-pro-max .location-icon {
  background-image: url(/static/img/subtract-14.svg);
  background-size: 100% 100%;
  position: relative;
  margin-left: 4%;
  width: 14px;
  margin-top: 5%;
}

.iphone-pro-max .weather-img {
  height: 88px;
  position: relative;
}

.iphone-pro-max .weather-condition {
  color: #ffffff;
  font-family: "Convergence", Helvetica;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
}

/*SECOND SECTION*/
.iphone-pro-max .weather-hourly {
  height: 16%;
  position: relative;
  width: 93%;
  margin-top: 5%;
  background-color: #ffffffd9;
  border-radius: 20px;
}

.iphone-pro-max .hourly-dock {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.iphone-pro-max .dock-section {
  position: relative;
  display: flex;
  flex-direction: row;
}

.iphone-pro-max .time {
  color: #898989;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  margin-top: 2%;
  text-align: center;
  margin-left: 4.25%;
  margin-right: 4.25%;
}

.iphone-pro-max .graph {
  height: 3%;
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}

.iphone-pro-max .dock-img {
  position: relative;
  margin-top: 1.5%;
  margin-left: 3.15%;
  margin-right: 3.15%;
}

.iphone-pro-max .icon-wrapper {
  position: relative;
  margin: auto;
  margin-top: 1%;
  margin-left: 6.15%;
  margin-right: 6.15%;
}

.iphone-pro-max .temp-text {
  color: #000000;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  width: 90%;
  line-height: normal;
  position: relative;
  /* margin: auto; */
  text-align: center;
  margin-top: 1%;
  /* margin-left: 3.9%;
  margin-right: 3.9%; */
}

/*Group (drop) styling*/
.weathericon {
  height: 11px;
  position: relative;
  width: 8px;
}

.group .weathericon {
  height: 11px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(179.93deg);
  width: 8px;
}

/*THIRD SECTION*/
.iphone-pro-max .weather-weekly {
  height: 15%;
  align-content: center;
  position: relative;
  width: 95%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}

.iphone-pro-max .fourth-day,
.sixth-day {
  background-color: #fffafa;
  border-radius: 10px;
  position: relative;
  width: 50px;
  margin-right: 1%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
}

.iphone-pro-max .day {
  margin-right: 1%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
}

/*DailyWeather styling*/
.weekday {
  background-color: #fffafa;
  border-radius: 10px;
  position: relative;
  width: 50px;
}

.weekday .sunny-img {
  position: relative !important;
  width: 40px !important;
  align-self: center;
  margin-top: 5%;
}

.weekday .element-sunny-instance {
  height: 35px !important;
  width: 35px !important;
}

.weekday .weekday {
  color: #000000;
  font-family: "Convergence", Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
  margin-top: 20%;
}

.weekday .low-temp {
  color: #000000;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
  margin-top: 30%;
}

.weekday .high-temp {
  color: #000000;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
  margin-top: 5%;
}

.weekday .high-temp-text {
  color: #898989;
  font-family: "Convergence", Helvetica;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
  margin-top: 7%;
}

.weekday .low-temp-text {
  color: #898989;
  font-family: "Convergence", Helvetica;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
}

/*FOURTH SECTION*/
/* Currently using absolute positioning, change later */
.iphone-pro-max .conditions-box-container {
  height: 388px;
  width: 383px;
  margin-top: 5%;
  position: relative;
  display: flex;
}

.iphone-pro-max .condition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 100px;
  box-shadow: 0 4px 4px #00000040;
  height: 180px;
  position: absolute;
  width: 180px;
}

.iphone-pro-max .humidity {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(112.27, 161.84, 94.86) 0%,
    rgb(186.07, 214.26, 176.17) 100%
  );
  height: 180px;
  left: 0;
}

.iphone-pro-max .pollen {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(205.76, 193.53, 83.45) 0%,
    rgb(236.93, 230.15, 169.14) 100%
  );
  left: 203px;
  top: 0;
}

.iphone-pro-max .aqi {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(255, 104.12, 113.18) 0%,
    rgb(246.13, 177.08, 181.22) 100%
  );
  left: 203px;
  top: 208px;
}

.iphone-pro-max .uvi {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(245.43, 194.43, 95.44) 0%,
    rgb(239.05, 220.09, 183.27) 100%
  );
  left: 0;
  top: 208px;
}

.iphone-pro-max .text-wrapper-symptom-button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-family: "Convergence", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
}

.symptoms-data-box {
  font-family: "Inter", Helvetica;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 388px;
  width: 383px;
  border-radius: 10px;
  background-color: #ced9e6;
  padding: 1.2em;
  font-size: 17px;
}

.symptom-data-heading {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  font-size: 20px;
  gap: 20px;
}

.symptom-checker {
  width: 85px;
  height: 75px;
}

.symptomrisk-title {
  margin-bottom: 0.9em;
}

.risk-title {
  margin-bottom: 0.65em;
}

.risks-data {
  margin-top: 0.9em;
}

.symptoms-risks-area {
  margin-top: 0.6em;
  flex: 3;
}

.symptomriskX-text {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 0.65em;
  padding: 0.4em;
  border-radius: 10px;
  align-items: center;
  gap: 0.4em;
}

.page-control-image {
  flex: 1;
}

.page-control-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*.iphone-pro-max .text-wrapper-symptom {
  color: #ffffff;
  font-family: "Convergence", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 74px;
  white-space: nowrap;
}*/

.iphone-pro-max .text-wrapper-symptom-button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-family: "Convergence", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
}

.close-button {
  background: url(/public/close.png);
  background-size: contain;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8em 0.8em 0 0;
  border: none;
  padding: 0;
}