.group {
  height: 11px;
  position: relative;
  transform: rotate(-179.93deg);
  width: 8px;
}

.group .subtract {
  height: 11px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(179.93deg);
  width: 8px;
}
